/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "../../../theme-template/css/config/reset";
/* 2. VARIABLES */
@import "../../../theme-template/css/config/common";
@import "../../../theme-template/css/config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
// @import "../../../theme-template/css/abstract/mixins";
/* 2. FUNCTIONS */
// @import "../../theme-template/css/abstract/functions";

/* -----------
# LAYOUTS
----------- */
/* 1. BASE  */
@import "../../../theme-template/css/layout/base";
/* 6. GRID  */
// @import "../../../theme-template/css/layout/grid";

/* -----------
# VIEWS
----------- */
.button {
    padding: 4px 23px;
    border: 1px solid;
    @include transition;
    &.button-primary {
        font-family: $font-family-secondary;
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        font-size: $font-size-small;
        &:hover {
            background-color: $primary-color-hover;

        }
    }
    &.button-secondary {
        border-color: $grey-dark-4;
        border-radius: 30px;
        color: $grey-dark-4;
        &:hover {
            background-color: $primary-color-hover;
            border-color: $primary-color-hover;
            color: $white;
            .hover-fill {
                fill: $white;
            }
        }
        &.button-secondary-popup {
            padding: 3px 30px;
            &:hover {
                border-color: $grey-dark-4;
                background-color: $grey-6;
                color: $grey-dark-4;
            }
        }
    }
    > svg,
    > span {
        display: inline-block;
        vertical-align: middle;
    }
    path {
        -webkit-transition: fill 0.5s;
        -ms-transition: fill 0.5s;
        transition: fill 0.5s;
    }
}
