/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "../../../theme-template/css/config/reset";
/* 2. VARIABLES */
@import "../../../theme-template/css/config/common";
@import "../../../theme-template/css/config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
// @import "../../../theme-template/css/abstract/mixins";
/* 2. FUNCTIONS */
// @import "../../theme-template/css/abstract/functions";

/* -----------
# LAYOUTS
----------- */
/* 1. BASE  */
@import "../../../theme-template/css/layout/base";
/* 6. GRID  */
// @import "../../../theme-template/css/layout/grid";

/* -----------
# VIEWS
----------- */
.button {
    border-radius: 3px;
    border: 1px solid;
    padding: 5px 12px;
    font-size: 0.875em;
    @include transition;
    &.button-primary {
        background-color: $primary-color;
        border-color: $primary-color;
        color: $white;
        font-family: $font-family-secondary;
        &:hover {
            background-color: $primary-color-hover;

        }
    }
    &.button-secondary {
        border-color: $grey-dark-4;
        border-radius: 30px;
        color: $grey-dark-4;
        &:hover {
            background-color: $primary-color-hover;
            border-color: $primary-color-hover;
            color: $white;
            .hover-fill {
                fill: $white;
            }
            #attachment-icon {
                opacity: 0.8;
            }
        }
        &.button-secondary-popup {
            background-color: $white;
            line-height: 1.5;
            padding: 1px 35px;
            &:hover {
                border-color: $grey-dark-4;
                background-color: $grey-6;
                color: $grey-dark-4;
            }
        }
        #attachment-icon {
            opacity: 0.3;
            @include transition;
        }
    }
    > svg {
        &:nth-child(2) {
            margin: 0 7px;
        }
    }
    > svg,
    > span {
        display: inline-block;
        vertical-align: middle;
    }
    path {
        @include transition-fill;
    }
}
.buttons-wrapper {
    padding: 0 12px;
    .button {
        margin: 0 8px;
    }
    .button-secondary {
        margin: 0 14px;
    }
}
