/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "../../../theme-template/css/config/reset";
/* 2. VARIABLES */
@import "../../../theme-template/css/config/common";
@import "../../../theme-template/css/config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
// @import "../../../theme-template/css/abstract/mixins";
/* 2. FUNCTIONS */
// @import "../../theme-template/css/abstract/functions";

/* -----------
# LAYOUTS
----------- */
/* 1. BASE  */
@import "../../../theme-template/css/layout/base";
/* 6. GRID  */
// @import "../../../theme-template/css/layout/grid";

/* -----------
# VIEWS
----------- */
.main-heading {
    display: flex;
    h1, h2, h3 {
        color: $grey-dark-7;
        font-size: 1.25em;
        line-height: 1;
        margin-top: 0;
        @include mediaQuery ($xxs) {
            font-size: 1.05em;
        }
        
    }
    time {
        color: $grey-dark-2;
        font-size: 0.815em;
    }
    .title-date-wrapp {
        padding-left: 10px;
        padding-top: 4px;
    }
    .heading-icon {
        padding-top: 6px;
        svg {
            display: block;
            font-size: 40px;
            height: 40px;
            width: 40px;
            @include mediaQuery ($xxs) {
                font-size: 30px;
                height: 30px;
                width: 30px;
            }
        }
    }
    .page-date {
        margin-left: -1px;
        margin-top: -3px;
    }
}
.main-header-content-details {
    border-bottom: 1px solid $grey-2;
    padding: 9px 15px 7px;
    .main-heading {
        padding-left: 16px;
        @include mediaQuery ($lg) {
            padding-left: 0;
        }
    }
}
