/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "../../../theme-template/css/config/reset";
/* 2. VARIABLES */
@import "../../../theme-template/css/config/common";
@import "../../../theme-template/css/config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
// @import "../../../theme-template/css/abstract/mixins";
/* 2. FUNCTIONS */
// @import "../../theme-template/css/abstract/functions";

/* -----------
# LAYOUTS
----------- */
/* 1. BASE  */
@import "../../../theme-template/css/layout/base";
/* 6. GRID  */
@import "../../../theme-template/css/layout/grid";

/* -----------
# VIEWS
----------- */
.lessons-content-heading,
.lessons-content-elements-item {
    border-bottom: 1px solid $grey-1;
    padding-left: 0;
    padding-right: 0;
}
.lessons-content-heading {
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-top: 7px;
    .lessons-content-title {
        font-family: $font-family-secondary;
        font-weight: $font-weight;
        font-size: 1em;
    }
    .icon-arrow.icon-arrow-bottom {
        transition: none;
    }
    &.arrow-switch {
        .icon-arrow.icon-arrow-bottom {
            border-bottom: 8px solid $grey-dark-4;
            border-top: 8px solid transparent;
            margin-top: -10px;
        }
    }
}
.lessons-content-section {
    width: 100%;
}
.lessons-content-elements {
    .lessons-content-elements-item {
        background-color: $white;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 100%;
    }
    .lessons-content-elements-item-inner {
        width: 80%;
        > div {
            align-items: center;
            display: flex;
        }
        .lessons-content-operational-icons-wrapper {
            flex: 0 0 153px;
            max-width: 153px;
            > div {
                padding-left: 7px;
                padding-right: 7px;
                &:last-of-type {
                    padding-left: 0;
                }
            }
        }
        .lessons-content-description {
            flex: 0 0 50.8%;
            max-width: 50.8%;
            > div {
                span {
                    background-image: url("../icons/lessons/arrow.png");
                    background-position: center right;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-right: 5px;
                    padding-right: 17px;
                    position: relative;
                    vertical-align: middle;
                    &:last-of-type {
                        background-image: none;
                        margin-right: 0;
                        padding-right: 10px;
                    }
                    &:first-of-type {
                        background-image: url("../icons/lessons/arrow.png");
                    }
                    &.error-notification {
                        background-image: none;
                        margin-right: 0;
                        margin-top: -2px;
                        padding-right: 10px;
                    }
                }
                &.lessons-content-month-item {
                    padding-right: 15px;
                    padding-left: 7px;
                    white-space: nowrap;
                    span {
                        padding-right: 25px;
                    }
                }
            }
            .lessons-content-title-item {
                span {
                    &:last-of-type {
                        background-image: none;
                    }
                }
            }
        }
        .lessons-content-instructial-icons-wrapper {
            flex: 0 0 200px;
            max-width: 200px;
            > div {
                padding-left: 7px;
                padding-right: 8px;
            }
            .lessons-content-instructial-icon-item-button {
                position: relative;
                padding-left: 11px;
            }
        }
        .lessons-content-operational-icon-item {
            cursor: pointer;
        }
        .disabled {
            cursor: not-allowed;
            filter: grayscale(1);
            opacity: 0.5;
        }
        
    }
}
