/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "../../../theme-template/css/config/reset";
/* 2. VARIABLES */
@import "../../../theme-template/css/config/common";
@import "../../../theme-template/css/config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
// @import "../../../theme-template/css/abstract/mixins";
/* 2. FUNCTIONS */
// @import "../../theme-template/css/abstract/functions";

/* -----------
# LAYOUTS
----------- */
/* 1. BASE  */
@import "../../../theme-template/css/layout/base";
/* 6. GRID  */
@import "../../../theme-template/css/layout/grid";

/* -----------
# VIEWS
----------- */
.lessons-content-heading,
.lessons-content-elements-item {
    border-bottom: 1px solid $grey-1;
    padding-left: 0;
    padding-right: 0;
    @include mediaQuery($md - 10) {
        border-bottom: 1px solid $grey-4;
    }
}
.lessons-content-heading {
    cursor: pointer;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-top: 7px;
    .lessons-content-title {
        font-family: $font-family-secondary;
        font-weight: $font-weight;
        font-size: 1em;
    }
    .icon-arrow.icon-arrow-bottom {
        transition: none;
    }
    &.arrow-switch {
        .icon-arrow.icon-arrow-bottom {
            border-bottom: 8px solid $grey-dark-4;
            border-top: 8px solid transparent;
            margin-top: -10px;
        }
    }
}
.lessons-content-section {
    width: 100%;
}
.lessons-content-elements {
    .lessons-content-elements-item {
        background-color: $white;
        padding-bottom: 4px;
        padding-top: 4px;
        width: 100%;
    }
    .lessons-content-elements-item-inner {
        @include mediaQuery($md - 10) {
            display: block;
        }
        > div {
            align-items: center;
            display: flex;
            @include mediaQuery($md - 10) {
                border-bottom: 1px solid $grey-light-2;
                padding-bottom: 5px;
                padding-top: 5px;
                &:last-child {
                    border: none;
                }
            }
        }
        .lessons-content-operational-icons-wrapper {
            flex: 0 0 153px;
            max-width: 153px;
            @include mediaQuery($ipad) {
                flex: 0 0 132px;
                max-width: 132px;
            }
            @include mediaQuery($md - 10) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }
            > div {
                padding-left: 7px;
                padding-right: 7px;
                @include mediaQuery($ipad) {
                    padding-left: 4px;
                    padding-right: 4px;
                }
                &:last-of-type {
                    padding-left: 0;
                }
            }
        }
        .lessons-content-description {
            flex: 0 0 40.6%;
            max-width: 40.6%;
            @include mediaQuery($xxxl) {
                flex: 0 0 65%;
                max-width: 65%;
            }
            @include mediaQuery($xl) {
                flex: 0 0 60%;
                max-width: 60%;
            }
            @include mediaQuery($lg + 80) {
                flex: 0 0 55%;
                max-width: 55%;
            }
            @include mediaQuery($md - 10) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }
            > div {
                &.has-error-notification {
                    > p {
                        display: flex;
                        align-items: center;
                    }
                }
                span {
                    background-image: url("../icons/lessons/arrow.png");
                    background-position: center right;
                    background-repeat: no-repeat;
                    display: inline-block;
                    margin-right: 5px;
                    padding-right: 17px;
                    position: relative;
                    vertical-align: middle;
                    @include mediaQuery ($sm) {
                        display: inline;
                    }
                    &:last-of-type {
                        background-image: none;
                        margin-right: 0;
                        padding-right: 10px;
                    }
                    &:first-of-type {
                        background-image: url("../icons/lessons/arrow.png");
                    }
                    &.error-notification {
                        background-image: none;
                        margin-right: 0;
                        margin-top: -2px;
                        padding-right: 10px;
                    }
                }
                &.lessons-content-month-item {
                    padding-right: 15px;
                    padding-left: 7px;
                    white-space: nowrap;
                    @include mediaQuery($ipad) {
                        padding-right: 10px;
                        padding-left: 4px;
                    }
                    span {
                        padding-right: 25px;
                        @include mediaQuery($ipad) {
                            padding-right: 15px;
                        }
                    }
                }
            }
            .lessons-content-title-item {
                span {
                    &:last-of-type {
                        background-image: none;
                    }
                }
            }
        }
        .lessons-content-instructial-icons-wrapper {
            flex: 0 0 230px;
            max-width: 230px;
            @include mediaQuery($ipad) {
                flex: 0 0 190px;
                max-width: 190px;
            }
            @include mediaQuery($md - 10) {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
            }
            > div {
                padding-left: 7px;
                padding-right: 8px;
                @include mediaQuery($ipad) {
                    padding-right: 4px;
                    padding-left: 4px;
                }
            }
            .lessons-content-instructial-icon-item-button {
                position: relative;
                padding-left: 11px;
                @include mediaQuery($ipad) {
                    padding-left: 9px;
                }
                @include mediaQuery($md - 10) {
                    padding-left: 5px;
                    padding-bottom: 2px;
                    padding-top: 4px;
                  }
            }
        }
        .lessons-content-operational-icon-item:not(.disabled) {
            cursor: pointer;
            img {
                @include transition;
                &:hover {
                    filter: grayscale(1);
                    opacity: 0.5;
                }
            }

        }
        .disabled {
            cursor: not-allowed;
            filter: grayscale(1);
            opacity: 0.3;
        }
        
    }
}
