/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "../../../theme-template/css/config/reset";
/* 2. VARIABLES */
@import "../../../theme-template/css/config/common";
@import "../../../theme-template/css/config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
// @import "../../../theme-template/css/abstract/mixins";
/* 2. FUNCTIONS */
// @import "../../theme-template/css/abstract/functions";

/* -----------
# LAYOUTS
----------- */
/* 1. BASE  */
@import "../../../theme-template/css/layout/base";
/* 6. GRID  */
// @import "../../../theme-template/css/layout/grid";

/* -----------
# VIEWS
----------- */
.classes-menu-wrapper {
    padding-bottom: 20px;
    padding-top: 22px;
}
.main-menu-wrapper {
    padding-bottom: 23px;
    padding-top: 36px;
    a {
        letter-spacing: -0.3px;
    }
    .navigation-menu-item {
        font-family: $font-family-secondary;
        @include mediaQuery($ls) {
            font-size: 0.9365em;
        }
    }
}
.classes-menu-wrapper,
.main-menu-wrapper {
    background-color: $grey-dark-4;
    border-bottom: 1px solid $grey-dark-1;
    color: $text-color-dark-bg;
    &:last-of-type {
        border-bottom: none;
    }
    ul {
        list-style: none;
    }
    li {
        a {
            display: block;
            padding: 3px 25px;
            @include transition;

            @include mediaQuery($xl) {
                padding: 3px 15px;
            }
            &:hover {
                background-color: $alpha-light-2;
            }
        }
        &.navigation-menu-item-active {
            a {
                background-color: $alpha-light-3;
            }
            svg {
                path.hover-fill {
                    fill: $grey-0;
                }
            }
        }
        svg,
        span {
            display: inline-block;
            vertical-align: middle;
            @include transition;
        }
        .menu-icon-wrap {
            display: inline-block;
            max-width: 25px;
            text-align: center;
            vertical-align: middle;
            width: 100%;
        }
        svg {
            position: relative;
            margin-right: 5px;
            top: -1px;
        }
    }
}
.classes-menu-wrapper {
    > header {
        font-family: $font-family-secondary;
        color: $grey-0;
        .classes-menu-title {
            font-weight: $font-weight-light;
        }
    }
    .classes-menu-title,
    .classes-navigation-menu-item {
        color: $grey-0;
        font-size: 0.875em;
    }
    .classes-navigation-list {
        padding-top: 8px;
        > .classes-navigation-menu-item {
            &:first-child {
                &:after {
                    background-color: $yellow;
                }
            }
            &:nth-child(2) {
                &:after {
                    background-color: $red-0;
                }
            }
        }
    }
    .classes-navigation-menu-item {
        font-weight: $font-weight;
        position: relative;
        &:after {
            background-color: $primary-color;
            border-radius: 2px;
            content: '';
            height: 10px;
            left: 24px;
            position: absolute;
            top: 9px;
            width: 10px;
            @include mediaQuery($xl) {
                left: 15px;
            }
        }
        
        a {
            font-family: $font-family-secondary;
            padding-left: 42px;
            @include mediaQuery($xl) {
                padding-left: 33px;
            }
        }
    }
    
    .show-more-link {
        font-family: $font-family-secondary;
        font-weight: $font-weight-light;
        a {
            color: $grey-dark-2;
            font-size: 0.686em;
            @include transition-color;
            &:hover {
                color: $grey-0;
            }
        }    
    }
}
.classes-menu-wrapper header,
.show-more-link {
    padding-left: 24px;
    @include mediaQuery($xl) {
        padding-left: 15px;
    }
}