/**
---------------------
| TABLE OF CONTENTS |
---------------------
 # CONFIG
    1. RESET
        1.1 General
        1.2 Base
        1.3 Links
        1.4 Typography
        1.5 Lists
        1.6 Embedded Content
        1.7 Forms
        1.8 Tables
        1.9 Chrome Frame Prompt
    2. VARIABLES
        2.1 Colors
        2.2 Typography
        2.3 Layout
 # ABSTRACT
    1. MIXINS
    2. FUNCTIONS
 # LAYOUT
    1. BASE
        1.1 General
        1.2 Classes
        1.3 Float
        1.4 Flex
    2. GRID
    3. TABLE
    4. DASHBOARD
 # VIEWS
    1. BUTTONS
    2. MENUS
    3. TABLES
    4. FORM FIELDS
    5. CARDS
    6. GRAPHS
    7. SLIDERS
    8. MEDIA
    9. NAVIGATION
    10. USER
    11. HEADERS
    12. LISTS
    13. MISC
 # PLUGINS
*/

/* --------
# CONFIG
--------- */
/* 1. RESET  */
@import "config/reset";
/* 2. VARIABLES */
@import "config/common";
@import "config/variables";

/* -----------
# ABSTRACT
----------- */
/* 1. MIXINS  */
@import "abstract/mixins";
/* 2. FUNCTIONS */
@import "abstract/functions";

/* -----------
# LAYOUTS
/* 1. BASE  */
@import "layout/base";
/* 2. GRID  */
@import "layout/grid";



/* ------------
# VIEWS
------------- */
/* 1. BUTTONS  */
@import "views/buttons";
/* 2. CLASSES TABLES  */
@import "views/classes-table";
/* 3. HEADINGS  */
@import "views/heading";
/* 4. LAYOUT STRUCTURE  */
@import "views/layout-structure";
/* 5. LESSONS  */
@import "views/lessons";
/* 6. MENU  */
@import "views/menus";
/* 7. PAGINATION  */
@import "views/pagination";
/* 8. USER PROFILE HEADER  */
@import "views/user-profile-header";


/* 9. NAVIGATION  */

/* 10 USER */

/* 11 HEADERS */

/* 12 LISTS */

/* 13. MISC */


/* ---------
# PLUGINS
---------- */
/* 1. POPUPS  */
@import "plugins/popups";
/* 2. SELECT  */
@import "plugins/select-dropdown";
/* 3. TOGGLE  */
@import "plugins/slidetoggle";