.content-area {
    .pagination-buttons-inner {
        padding-bottom: 22px;
        padding-top: 23px;
    }
    .select-dropdown-buttons-wrapper {
        padding-bottom: 5px;
        padding-top: 20px;
    }
    .lessons-section-wrapper {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .classes-table-section-wrapper {
        padding-bottom: 0;
        padding-right: 10px;
        padding-top: 31px;
    }
}