.content-area {
    .pagination-buttons-inner {
        padding-bottom: 22px;
        padding-top: 23px;
        @include mediaQuery($ls) {
            display: block;
            padding-bottom: 17px;
            padding-top: 17px;
        }
        .pagination-nav-links {
            @include mediaQuery($ls) {
                padding-bottom: 15px;
            }
        }
    }
    .select-dropdown-buttons-wrapper {
        padding-bottom: 5px;
        padding-top: 20px;
        @include mediaQuery($ls) {
            display: block;
            padding-bottom: 20px;
            padding-top: 15px;
        }
        .classes-select-dropdown {
            @include mediaQuery($ls) {
                margin-bottom: 20px;
            }
        }
    }
    .lessons-section-wrapper {
        padding-bottom: 2px;
        padding-top: 2px;
    }
    .classes-table-section-wrapper {
        padding-bottom: 0;
        padding-right: 10px;
        padding-top: 31px;
        @include mediaQuery($lg) {
            padding-top: 16px;
        }
    }
}